services:
  php-app:
    build: ./
    ports:
      - 8080:80
    volumes:
      - ./src/:/var/www/html/
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=php_project
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin
    volumes:
      - mysql-data:/var/lib/mysql/

volumes:
  mysql-data:
